* {
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}
.container__width {
    width: 1352px;
    margin: 0 auto;
}
.header__section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font: normal normal 300 32px/37px Raleway;
    color: #08A6E4;
}
.header__menu {
    display: flex;
    align-items: stretch;
    height: 70px;
}
.header__menu__content {
    margin-left: 95px;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    display: flex;
    align-items: center;
}
.header__menu__content:first-child {
    margin-left: 0;
}
.header__menu__content:hover {
    color: black;
    border-bottom: 4px solid #08A6E4;
    cursor: pointer;
}
.open__section {
    background-image: url("../images/Background.png");
    height: 845px;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}
.open__section__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.open__section__title {
    margin-top: 130px;
    font: normal normal normal 49px/57px Raleway;
}
.open__section__lead {
    margin-top: 20px;
    font: normal normal normal 16px/22px Open Sans;
}
.open__section__button {
    margin-top: 38px;
    border-radius: 40px;
    background-color: #08A6E4;
    font: normal normal bold 16px/22px Open Sans;
    color: white;
    padding: 22px 157px;
}
.open__section__button:hover {
    cursor: pointer;
}
.statistics__section {
    height: 531px;
    box-shadow: 0 -5px 80px #00000029;
    overflow: hidden;
}
.statistics__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics__section__title {
    margin: 101px 0;
    font: normal normal normal 36px/42px Raleway;
}
.statistics__boxes {
    display: flex;
}
.statistics__box:nth-child(2) {
    margin: 0 185px;
}
.statistics__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics__circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    background-color: #FB3B64;
}
.statistics__image {
    position: absolute;
    margin: 3px 0 0 52px;
}
.statistics__box:nth-child(2) .statistics__circle {
    background-color: #08A6E4;
}
.statistics__box:nth-child(2) .statistics__image {
    margin: 14px 0 0 40px;
}
.statistics__box:nth-child(3) .statistics__circle {
    background-color: #55DFB4;
}
.statistics__box:nth-child(3) .statistics__image {
    margin: 6px 0 0 50px;
}
.statistics__value {
    margin-top: 13px;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
}
.statistics__lead {
    margin-top: 19px;
    text-align: center;
    font: normal normal normal 17px/20px Raleway;
    color: #A5A5A5;
}
.benefits__section {
    height: 1395px;
    background-color: #F7F7F7;
    overflow: hidden;
}
.benefits__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1124px;
    overflow: hidden;
}
.benefit__box {
    background-color: white;
    width: 1124px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.benefit__box:first-child {
    margin-top: 105px;

}
.benefit__box:nth-child(2) {
    margin: 37px 0;
}
.benefit__article {
    margin-left: 35px;
}
.benefit__article__title {
    font: normal normal normal 36px/42px Raleway;
    margin-bottom: 30px;
}
.benefit__article__lead {
    font: normal normal normal 16px/22px Open Sans;
    width: 416px;
    margin-bottom: 50px;
}
.benefit__article__underline {
    background-color: #FB3B64;
    width: 328px;
    height: 4px;
}
.first__benefit__graphic {
    height: 294px;
    width: 433px;
    margin-right: 71px;
    display: flex;
}
.first__benefit__square {
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0 0 no-repeat padding-box;
    border-radius: 41px;
    position: relative;
    height: 180px;
    width: 180px;
    top: 37px;
    left: 215px;
    z-index: 1;
}
.first__benefit__image {
    width: 386px;
    height: 219px;
    align-self: flex-end;
    position: absolute;
    z-index: 2;
}
.second__benefit__circle {
    height: 320px;
    width: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin-left: 70px;
}
.second__benefit__image {
    width: 426px;
    height: 328px;
    margin-left: 70px;
    position: absolute;
    z-index: 2;
    margin-top: 17px;
}
.benefit__box:nth-child(2) .benefit__article {
    margin: 0 20px 0 0;
}
.benefit__box:nth-child(2) .benefit__article__underline {
    background-color: #08A6E4;
}
.benefit__last__box {
    display: flex;
    justify-content: space-between;
    width: 1124px;
}
.benefit__last__box .benefit__article{
    background-color: white;
    width: 623px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-left: 0;
}
.benefit__last__box .benefit__article .benefit__article__title {
    margin: 69px 0 30px 35px;
}
.benefit__last__box .benefit__article .benefit__article__lead {
    margin: 0 0 44px 35px;
}
.benefit__last__box .benefit__article .benefit__article__underline {
    margin: 0 0 0 35px;
}
.last__row__graphic {
    width: 440px;
    height: 370px;
    background-color: #55DFB4;
    position: relative;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.last__row__image {
    width: 295px;
    height: 207px;
    position: absolute;
    top: 98px;
    left: 62px;
}
.pricing__section {
    overflow: hidden;
}
.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__title {
    margin: 100px 0 50px 0;
    font: normal normal normal 36px/42px Raleway;
}
.pricing__boxes {
    display: flex;
    width: 1352px;
    justify-content: center;
    align-items: center;
    margin-bottom: 155px;
}
.pricing__overbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__box {
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__name {
    margin: 34px 0 14px 0;
    font: normal normal bold 20px/24px Raleway;
    color: #13253B;
}
.pricing__price {
    font: normal normal 300 46px/64px Open Sans;
    color: #FB3B64;
    margin-bottom: 69px;
}
.pricing__offer {
    font: normal normal bold 12px/14px Raleway;
    color: #13253B;
    margin-bottom: 50px;
}
.pricing__item {
    font: normal normal normal 14px/41px Open Sans;
    position: relative;
    margin: 0 21px;
    text-align: center;
    width: 200px;
}
.pricing__item:before {
    position: absolute;
    content: '';
    background-image: url("../images/Ckechmark-1.svg");
    height: 11px;
    width: 11px;
    top: 15px;
    margin-left: -21px;
}
.pricing__item__red {
    font: normal normal normal 14px/41px Open Sans;
    position: relative;
    margin: 0 21px;
    text-align: center;
    width: 200px;
}
.pricing__item__red:before {
    position: absolute;
    content: '';
    background-image: url("../images/Close.svg");
    height: 11px;
    width: 11px;
    top: 15px;
    margin-left: -21px;
}
.pricing__button {
    padding: 16px 57px;
    background-color: #EB476E;
    font: normal normal bold 13px/18px Open Sans;
    color: white;
    border-radius: 23px;
    margin: -25px 0 0 0;
}
.pricing__overbox:nth-child(2) {
    margin: 0 60px;
}
.pricing__overbox:nth-child(2) .pricing__box {
    height: 500px;
    width: 405px;
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
}
.pricing__overbox:nth-child(2) .pricing__price {
    color: #07ACE6;
    margin-bottom: 5px;
}
.pricing__overbox:nth-child(2) .pricing__offer {
    margin-bottom: 61px;
}
.pricing__overbox:nth-child(2) .pricing__button {
    background-color: #07ACE6;
}
.pricing__overbox:nth-child(2) .pricing__item {
    margin-bottom: 5px;
}
.pricing__overbox:nth-child(3) .pricing__box {
    border: 1px solid #55DFB4;
}
.pricing__overbox:nth-child(3) .pricing__price {
    color: #55DFB4;
    margin-bottom: 5px;
}
.pricing__overbox:nth-child(3) .pricing__offer {
    margin-bottom: 50px;
}
.pricing__overbox:nth-child(3) .pricing__button {
    background-color: #55DFB4;
}
.contact__container {
    width: 896px;
    display: flex;
    justify-content: space-between;
}
.contact__infobox {
    width: 342px;
}
.contact__form {
    width: 440px;
}
.contact__title {
    font: normal normal normal 49px/57px Raleway;
    margin-bottom: 22px;
}
.contact__lead {
    font: normal normal normal 16px/22px Open Sans;
    margin-bottom: 42px;
}
.contact__info__row {
    display: flex;
    margin-bottom: 20px;
}
.contact__email {
    padding-left: 37px;
    font: normal normal 600 15px/22px Open Sans;
    color: #A5A5A5;
    position: relative;
    overflow: hidden;
}
.contact__email:before {
    content: '';
    background-image: url("../images/Mail Icon.svg");
    height: 28px;
    width: 28px;
    position: absolute;
    margin-top: -2px;
    margin-left: -37px;
}
.contact__phone {
    padding-left: 57px;
    font: normal normal 600 15px/22px Open Sans;
    color: #A5A5A5;
    position: relative;
    overflow: hidden;
}
.contact__phone:before {
    content: '';
    background-image: url("../images/Phone Icon.svg");
    height: 28px;
    width: 28px;
    position: absolute;
    margin-left: -37px;
    margin-top: -2px;
}
.contact__form {
    display: flex;
    flex-direction: column;
}
label[for="name"], label[for="email"] {
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #08A6E4;
}
input[type="text"], input[type="email"] {
    height: 45px;
    border: none;
    border-bottom: 1px solid #707070;
}
input[type="text"] {
    margin-bottom: 42px;
}
input[type="email"] {
    margin-bottom: 30px;
}
.checkbox__row {
    display: flex;
    justify-content: space-between;
}
input[type="checkbox"] {
    appearance: none;
    height: 24px;
    width: 24px;
    background-color: white;
    border: 1px solid #95989A;
    border-radius: 4px;
}
input[type="checkbox"]:checked {
    background-image: url("../images/Checkmark.svg");
    background-color: white;
    position: center;
    background-repeat: no-repeat;
    background-position: center;
}
label[for="checkbox"] {
    width: 405px;
    font: normal normal normal 12px/17px Open Sans;
    color: #707070;
    margin-bottom: 20px;
}
.button__form {
    border: none;
    align-self: flex-end;
    font: normal normal bold 13px/18px Open Sans;
    color: white;
    padding: 20px 97px;
    border-radius: 35px;
    background-color: #08A6E4;
    margin-bottom: 59px;
}
.footer__section {
    box-shadow: 0 -5px 40px #00000029;
    background-color: #F7F7F7;
    height: 90px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.footer__logo__box {
    display: flex;
    flex-direction: column;
}
.footer__logo {
    font: normal normal 300 26px/30px Raleway;
    color: #08A6E4;
}
.footer__copyright {
    font: normal normal normal 11px/15px Open Sans;
    color: #A5A5A5;
}
.social__media img:first-child {
    margin-right: 20px;
}