@import 'settings/reset';
@import 'settings/variables';
@import 'settings/mixins';

.container__width {
  width: 90%;
  max-width: 1352px;
  margin: 0 auto;
}

@import "sections/header";
@import "sections/open";
@import "sections/statistics";
@import "sections/benefits";
@import "sections/pricing";
@import "sections/contact";
@import "sections/footer";